<div>
    <div id="resetPasswordForm">
        <div class="drawer-form-item">
            <label for="share-user">User</label>
            <div>
                <select id="shareUser" name="shareUser" style="width:320px"
                        data-val="true"></select>
            </div>
        </div>
        <div class="drawer-form-item">
            <label for="new-password">New Password</label>
            <div>
                <input id="newPassword" name="newPassword" type="text" data-val="true"
                       data-val-waznospecialchars="The field must not contain special characters"
                       data-val-required="Please provide new password"
                       data-val-length="The field must be a string between 8 and 64 characters"
                       data-val-length-max="64"
                       data-val-length-min="8" />
            </div>
        </div>        
    </div>
</div>
