<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServerIPAddress" value="do not write here but use the transormation files" />
    <add key="Destination" value="do not write here but use the transormation files" />
    <add key="MainSourcePath" value="do not write here but use the transormation files" />
    <add key="SoruceDirZip" value="do not write here but use the transormation files"/>
    <add key="DestDirZip" value="do not write here but use the transormation files"/>
    <add key="CreateBackup" value="do not write here but use the transormation files"/>
  </appSettings>
</configuration>