<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration >
  <appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <add key="ServerIPAddress" value="localhost"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Destination" value="C:\inetpub\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MainSourcePath" value="C:\_Source\Bulpros.Cloud\Billing\src\DEV\Billing\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SoruceDirZip" value="c:\inetpub" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DestDirZip" value="c:\Backup\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CreateBackup" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>