<div class="fileUploadFolder">
    <p class="fileUploadHeader">UPLOAD *.VHD or *.VHXD Type FILE</p>
    <div>
        <!--This form needed for the upload to work.-->
        <form id="storageFileUploadForm" class="aux-dialog-form">
            <div class="aux-dialog-item">
                <input id="uploadImageFile" name="uploadImageFile" type="file" data-fxcontroltype="fxUpload" />
                       <!--<input id="uploadImageFile" name="uploadImageFile" type="file" data-fxcontroltype="fxUpload" 
                       data-val="true" data-val-required="Please upload *.vhd, *.vhdx file"
                       data-val-regex="Please upload *.vhd, *.vhdx file" data-val-regex-pattern="^.+\.vhdx*$"/>-->
            </div>
            
        </form>
    </div>
</div>
