<div id="mainContainer">
    <h1></h1>
    <div>
        <p style="display:none">
            <select id="accountPlanDropDown" name="accountPlan" style="width:450px"
                    data-val="true"></select>            
        </p>
        <p>
            <!--<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>-->
        </p>
        
       

    </div>

    <div class="gridContainer" style="z-index: 0;"></div>

    <div id="hs-empty"
         class="hs-environment"></div>
</div>

